* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Colors */
.black {
    background-color: rgb(20 20 20);
}

p,h1{
    color: white;
}




.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* NavBar */

.NavBar {
    position: fixed;
    height: 75px;
    width: 100%;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.logoNav {
    height: 55px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 10px;
}

.avatar {
    height: 50px;
    margin: 10px 25px;
    border-radius: 10%;
    cursor: pointer;
}

.logout {
    background-color: red;
    color: white;
    font-size: 13pt;
    height: 35px;
    width: 85px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    margin: 15px 40px;
}

/* Featured */

.featured {
    position: relative;
    height: 85vh;
    object-fit: contain;
}

.featureInfo {
    padding-top: 23vh;
    padding-left: 5vw;
    color: white;
    width: 38%;
}

.movieTitle {
    font-size: 45pt;
}

.playButton {
    color: rgb(0, 0, 0);
    background-color: white;
    height: 40px;
    width: 100px;
    font-size: 18pt;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.description {
    font-size: 1.2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
}

.fade {
    background-image: linear-gradient(180deg,
            transparent, rgba(20, 20, 20, 0.4),
            rgb(20, 20, 20));
    position: absolute;
    bottom: 0;
    min-height: 150px;
    min-width: 99vw;
}

.darkenFeature {
    width: 100%;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.55);
}

/* Row */

.row {
    background-color: rgb(20 20 20);
    padding-left: 20px;

}

.title {
    font-size: 20pt;
    margin-left: 20px;
    padding-top: 50px;
    color: white;
}

.allMovies {
    display: flex;
    overflow-x: scroll;
}

.movie {
    width: 10vw;
    max-height: 230px;
    margin: 20px;
    transition: 450ms;
    cursor: pointer;
}

.movie:hover {
    transform: scale(1.15);
}

.error {
    position: fixed;
    top: 0;
    height: 450px;
    width: 450px;
    margin: 10% 35%;
    border-radius: 8pt;
    background-color: black;
    border: 2px rgba(175, 5, 5, 0.705) solid;
    opacity: 1;
}


.dim{
    position: fixed;
    top: 0;
    left: 0;
    width: 1000%;
    height: 1000%;
    background-color: black;
    opacity: 0.4;
}

.noSub {
    position: fixed;
    top: 0;
    height: 250px;
    width: 450px;
    margin: 10% 35%;
    border-radius: 8pt;
    background-color: black;
    border: 2px red solid;
    opacity: 1;
}

.profileButton{
    background-color: red;
    color: white;
    height: 35px;
    width: 85px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    margin: 25px 170px;
}