* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dflex {
    display: flex;
}

.profile {
    background-color: rgb(20 20 20);
    height: 100vh;
}

.profileBody {
    padding: 8% 23%;
    width: 83%;
}

.border {
    background-color: #333;
    width: 100%;
    height: 4px;
}

.avatar2 {
    height: 100px;
    margin: 10px 0;
    cursor: pointer;
}

.profileContainer {
    margin: 10px;
    height: 40px;
    width: 100%;
}

.profileEmail {
    background-color: #808080;
    height: 40px;
    width: 100%;
    padding: 5px 20px;
    font-size: 15pt;
}

.planHeader {
    margin-top: 10px;
    font-size: 20pt;
    color: white;
}

.plans {
    justify-content: space-between;
    margin: 20px;
    opacity: 0.75;
}

.plans:hover{
    opacity: 1;
}

.subscribe {
    background-color: red;
    height: 35px;
    width: 85px;
    cursor: pointer;
    border-radius: 2px;
    border: 0;
    margin: 15px 40px;
}